@using System.ComponentModel.DataAnnotations

<div class="header">
    <div class="content-column">
        <div class="logo">
            <a href="/">
                <img src="/Content/Images/Header.png" /></a>
                <a href="#" id="hamburger-left">Left</a> | <a href="#" id="hamburger-right">Right</a>
        </div>
        <div class="buttons">
            <DxButton Text="Contact Us"
                      CssClass="orangeButton orangeButonContact p-2">
	        </DxButton>
            <DxButton Text="Login"
                      CssClass="orangeButton orangeButonLogin p-2"
                        Click="@(()=>ShowLogin = true)">
            </DxButton>
        </div>
        <div class="clear"></div>
    </div>
    <DxPopup @bind-Visible="@ShowLogin"
        VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center"
        ShowFooter="true" ShowCloseButton="false" Width="608px" CssClass="loginPopup">
        <HeaderTemplate>
            <div class="title">
                LOGIN FORM
            </div>
        </HeaderTemplate>
        <BodyTemplate Context="loginBody">
            <EditForm Model="@loginModel" id="login-form" Context="frm" OnSubmit="@InitiateLogin" >
                <DataAnnotationsValidator />
                <DxFormLayout CaptionPosition="CaptionPosition.Vertical" CssClass="formLayout"
                    Context="layout">
                    <DxFormLayoutItem Caption=" " ColSpanMd="12">
                        <DxTextBox NullText="Email" @bind-Text="@loginModel.Email" ShowValidationIcon="true"></DxTextBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption=" " ColSpanMd="12">
                        <DxTextBox NullText="Password" Password="true"
                            @bind-Text="@loginModel.Password" ShowValidationIcon="true"></DxTextBox>
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption=" " ColSpanMd="12">
                        <ValidationSummary></ValidationSummary>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>

        </BodyTemplate>
        <FooterContentTemplate>
@*             <div class="buttons">
                <div class="buttonsContainer">
 *@                    <button type="submit" form="login-form" class="btn btn-primary">Login

                    </button>
                    <button type="button" class="btn btn-light" @onclick="@(() => ShowLogin = false)">
                        Cancel
                    </button>
@*                 </div>
            </div>
 *@
        </FooterContentTemplate>
    </DxPopup>
</div>


@code {
    public class LoginModel
    {
        [Required()]
        [EmailAddress()]
        public string Email { get; set; } = default!;
        [Required()]
        public string Password { get; set; } = default!;
    }


    public bool ShowContact { get; set; }
    public bool ShowLogin { get; set; }

    public LoginModel loginModel = new LoginModel();

    void InitiateLogin()
    {
        //validate your user        
        ShowLogin = false;
        StateHasChanged();
    }
}
